{#
  The following 2 meta tags *must* come first in the <head>
  to consistently ensure proper document rendering.
  Any other head element should come *after* these tags.
#}
<meta charset="utf-8">
<meta
name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0,shrink-to-fit=no">

<!-- Locale -->
<meta
http-equiv="Content-Language" content="{{ config('app.locale') }}">

<!-- To the Future! -->
<meta
http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

<!-- Meta Tags -->
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="generator" content="{{ config_get('streams::distribution.name') }}"/>
<meta name="description" content="{{ trans(template.meta_description) }}"/>
<style>
	html {
		scroll-behavior: smooth;
		scrollbar-width: none;
		-ms-overflow-style: none;
	}

	body {
		font-family: "Source Sans Pro", sans-serif;
		background-color: #ffffff;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-family: "Merriweather", serif;
	}
</style>

<link rel="stylesheet" href="{{ url('/themes/sarinah-theme/css/app.css') }}">
<link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&amp;family=Source+Sans+Pro:wght@300;400;600;700&amp;display=swap" rel="stylesheet"/>
{{ template.includes.render('meta')|raw }}

<title>
	{{ setting_value('streams::name', config_get('streams::distribution.name')) }}
	&#8250;
	{{ trans(template.meta_title) }}
</title>

<!-- Favicon -->
{#{{ favicons("theme::img/favicon.png") }}#}

{# Important!! #}
{{ constants() }}


{{ template.includes.render('head')|raw }}
